@{
    ViewData["Title"] = "Špotnik";
}

@model VsiSportniki

<div class="d-flex flex-column">
    <div class="d-flex flex-column align-items-center">
        @foreach (var sportnik in Model.sportniks)
        {
            @Html.DisplayFor(x => sportnik);
        }
    </div>
    <a href="/Sportnik/Dodajanje" class="w-25 align-self-end mt-3"><button class="btn-dark p-2 w-100">Dodaj</button></a>
</div>